<div class="home-wrapper">
    <header class="header">
        <div class="logo">
            <h2>Online Flight Booking</h2>
        </div>
        <nav>
            <a routerLink="/home">My Flights</a> 
            <a routerLink="/tickets">Tickets</a> 
            <button (click)="onLogout()" class="logout-btn">Выйти</button>
        </nav>
    </header>
    <main class="hero">
        <div class="search-box">

            <div class="tabs">
                <button [class.active]="isRoundTrip" (click)="setTab(true)">ROUND TRIP</button>
                <button [class.active]="!isRoundTrip" (click)="setTab(false)">ONE WAY</button>
            </div>
        
            <div class="inputs-grid">
                <div class="field">
                    <label>From</label>
                    <select (ngModelChange)="checkAvailability()" [(ngModel)]="searchQuery.from" name="from">
                        <option value="" disabled selected>Departure</option>
                        @for (city of cities; track city) {
                            <option [value]="city">{{ city }}</option>
                        }
                    </select>
                </div>

                <div class="field">
                    <label>To</label>
                    <select (ngModelChange)="checkAvailability()" [(ngModel)]="searchQuery.to" name="to">
                        <option value="" disabled selected>Arrival</option>
                            @for (city of cities; track city) {
                                <option [value]="city">{{ city }}</option>
                            }
                    </select>
                </div>

                <div class="field">
                    <label>Passenger</label>
                    <input type="number" [(ngModel)]="passengerCount" min="1" max="10">
                </div>

                <div class="field">
                <label>Depart</label>
                <input (ngModelChange)="checkAvailability()" type="date" [(ngModel)]="searchQuery.date">
                    @if (dateError) {
                        <small class="error-msg">{{ dateError }}</small>
                    }
                </div>

                @if (isRoundTrip) {
                    <div class="field">
                        <label>Return</label>
                        <input (ngModelChange)="checkAvailability()" type="date" [(ngModel)]="searchQuery.returnDate">
                    </div>
    }
            </div>

            <button  class="search-btn" (click)="onSearch()">поиск рейсов</button>
        </div>
    </main>
    <section class="results">
        @for(flight of flights; track flight.id){
            <div class="flight-card">
                <div class="airline">{{ flight.airline }}</div>
                <div class="route"> {{flight.from}} -> {{ flight.to }}</div>
                <div class="price">{{ flight.price }} KZT</div>
                <button class="book-btn">Забронировать</button>
            </div>
        }
    </section>
</div>
